# Web framework
flask
flask-cors

# Audio processing
pydub
soundfile
librosa

# OpenAI SDK
openai==1.58.1
# WSGI server for production
gunicorn

# Vector database
faiss-cpu
numpy
sentence-transformers

# Environment variables
python-dotenv

# Utilities
requests
tqdm
pandas
scikit-learn
torch
transformers